<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Message</title>
</head>

@vite(['/resources/css/app.css', '/resources/js/app.js'])
<body class="bg-light">
    <form action="/message" method="POST">
        {{ csrfField() }}
        <div class="container mt-5"> <!-- Hier kannst du die Margin Top Klasse ändern -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Nachricht senden</div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="subject" class="form-label">Betreff</label>
                                <input type="text" class="form-control" id="subject" name="subject" required>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Nachricht</label>
                                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-danger">Verwerfen</button>
                                <input type="hidden" name="receiver" value="{{ receiver_id }}">
                                <button type="submit" class="btn btn-primary">Abschicken</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
